@page "/requests/list"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using CertificateManager.Models
@using CertificateManager.Models.Views
@using CertificateManager.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using CertificateManager.Services
@implements IAsyncDisposable
@inject CertificateService certificateService

<PageTitle>List Certificate Requests</PageTitle>

<h3>List certificate requests</h3>

<EditForm Model="entry" OnSubmit="HandleSubmit">
    <table>
        <tr>
            <td><label for="SubjectFilter">Subject</label></td>
            <td><InputText id="SubjectFilter" @bind-Value="@SubjectFilter"></InputText></td>
        </tr>
        <tr>
            <td><label for="OwnerFilter">Owner</label></td>
            <td><InputText id="OwnerFilter" @bind-Value="@OwnerFilter"></InputText></td>
        </tr>
        <tr>
            <td><label for="TemplateFilter">Template</label></td>
            <td><InputText id="TemplateFilter" @bind-Value="@TemplateFilter"></InputText></td>
        </tr>
        <tr>
            <td><label for="CAFilter">Certificate Authority</label></td>
            <td>
                <InputSelect id="CAFilter" @bind-Value="@CAOption">
                    @foreach (var option in Enum.GetValues<CAOptions>())
                    {
                        <option value="@option">@option</option>
                    }
                </InputSelect>
            </td>
        </tr>
        
        <tr>
            <td><label for="RequestIdFilter">RequestId</label></td>
            <td><InputNumber id="RequestIdFilter" @bind-Value="@requestId"></InputNumber></td>
        </tr>
        <button type="submit" class="btn-primary">Search</button>
    </table>
</EditForm>

<QuickGrid Class="table" Items="entry" Pagination="pagination">
    <Paginator State="pagination" />
    <PropertyColumn Property="@(e => e.RequestId)" Title="Request" Sortable="true" />
    <TemplateColumn Title="RequesterInformation">
        @if (context.RequestCommonName != "")
        {
            <p style="display:inline">CN=@context.RequestCommonName<br /></p>
        }
        @if (context.RequestCountryRegion != "")
        {
            <p style="display:inline">C=@context.RequestCountryRegion<br /></p>
        }
        @if (context.RequestCity != "")
        {
            <p style="display:inline">L=@context.RequestCity<br /></p>
        }
        @if (context.RequestOrganization != "")
        {
            <p style="display:inline">O=@context.RequestOrganization<br /></p>
        }
        @if (context.RequestOrganizationUnit != "")
        {
            <p style="display:inline">OU=@context.RequestOrganizationUnit<br /></p>
        }
        @if (context.RequestEMailAddress != "")
        {
            <p style="display:inline">E=@context.RequestEMailAddress<br /></p>
        }
    </TemplateColumn>
    <TemplateColumn Title=SubjectAlternativeNames>
        @if (context.SubjectAlternativeNames != "")
        {
            foreach (var san in @context.SubjectAlternativeNames.Split(","))
            {
                <p style="display:inline">@san<br /></p>
            }
        }
    </TemplateColumn>
    <TemplateColumn Title=EnhancedKeyUsages>
        @if (context.EKUNames != "")
        {
            foreach (var eku in @context.EKUNames.Split(","))
            {
                <p style="display:inline">@eku<br /></p>
            }
        }
    </TemplateColumn>
    <PropertyColumn Property="@(e => e.Owner)" Sortable="true" />
    <PropertyColumn Property="@(e => e.Notes)" Sortable="true" />
    <TemplateColumn Context="Entry">
        <a href="@($"certificates/approve?requestid={Entry.RequestId}&caconfig={Entry.CAConfig}")">Approve</a> |
        <a href="@($"certificates/deny??requestid={Entry.RequestId}&caconfig={Entry.CAConfig}")">Deny</a>
    </TemplateColumn>

</QuickGrid>

@code {
    public enum CAOptions
    {
        SECURECA01,
        SECURECA02
    }
    public CAOptions CAOption { get; set; } = CAOptions.SECURECA01;

    

    public string SubjectFilter = "";
    public string OwnerFilter = "";
    public string TemplateFilter = "";
    public int? requestId = null;
    public DateTime? expirationDate = null;

    System.Collections.Hashtable filterht = new System.Collections.Hashtable();

    public void HandleSubmit(EditContext editContext)
    {
        filterht["RequestCommonName"] = SubjectFilter;
        filterht["Owner"] = OwnerFilter;
        filterht["CertificateTemplate"] = TemplateFilter;
        filterht["CAConfig"] = CAOption;
        filterht["RequestDisposition"] = 9;
    }
    private AppDbContext context = default!;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = certificateService.CreateDbContext();
        filterht["RequestDisposition"] = 9;
    }

    private IQueryable<ExtendedEntry> entry => certificateService.GetCertificateEntries(context, requestId, expirationDate, filterht);

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
