@page "/requests/new"
@using CertificateManager.Services
@using CertificateManager.Models
@using CERTCLILib;
@using CERTENROLLLib;
@using System.Runtime.InteropServices;
@inject CertificateService certificateService;

<PageTitle>Submit Certificate Requess</PageTitle>

<h3>Submit certificate request</h3>
Please insert the Base64 encoded CMC request. 
The submit button will be available if the request can be parsed and is compliant.

<EditForm Model="@_entry" OnSubmit="HandleSubmit">
    <table>
        <tr>
            <td><label for="Base64RequestInput">Base64Request</label></td>
            <td><InputTextArea id="Base64RequestInput" @bind-Value="@_entry.Base64Request" rows="8" cols="100"></InputTextArea></td>
        </tr>
        <tr>
            <td><label for="CAFilter">Certificate Authority</label></td>
            <td>
                <InputSelect id="CAFilter" @bind-Value="@CAConfiguration">
                    @foreach (var option in _caConfigurationList)
                    {
                        <option value="@option">@option</option>
                    }
                </InputSelect>
            </td>
        </tr>
        <button type="submit" class="btn-primary" @onclick="() => selectedAction = 1">Parse</button>
        <button type="submit" class="btn-primary" @onclick="() => selectedAction = 2" hidden="@_btnhidden">Submit</button>
    </table>
</EditForm>
<table>
    <tr>
        <td>ParsedData</td>
        <td><textarea value="@CurrentRequestData" rows="10" cols="100" readonly></textarea></td>
    </tr>
    <tr>
        <td>Certificate or Message</td>
        <td><textarea value="@output" rows="10" cols="100" readonly></textarea></td>
    </tr>
</table>

@code {
    public static class CAConfigurations 
    {
        public static readonly string SECURECA01 = @"CA01.cool.ice.corp.com\SECURECA01";
        public static readonly string SECURECA02 = @"CA02.cool.ice.corp.com\SECURECA02";
    }

    private List<string> _caConfigurationList = typeof(CAConfigurations)
            .GetFields(System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.Static)
            .Where(f => f.FieldType == typeof(string))
            .Select(f => f.GetValue(null)?.ToString()) 
            .ToList();

    string CAConfiguration { get; set; } = CAConfigurations.SECURECA01;

    const int CR_IN_ANY = 0;
    const int CR_IN_BASE64 = 0x1;
    const int CR_IN_PKCS10 = 0x100;

    const int CR_OUT_BASE64 = 0x1;

    const int CR_DISP_ISSUED = 0x3;
    const int CR_DISP_PENDING = 0x5;

    private Entry _entry = new Entry();
    public int selectedAction = 0;
    private bool _btnhidden = true;

    //https://learn.microsoft.com/en-us/windows/win32/api/certif/nf-certif-icertserverexit-getcertificateproperty
    internal enum PropertyType : int
    {
        PROPTYPE_LONG = 1,
        PROPTYPE_DATE = 2,
        PROPTYPE_BINARY = 3,
        PROPTYPE_STRING = 4,
        PROPTYPE_ANSI = 5
    }

    //ExtensionOIDs
    private const string AlternativeNames = "2.5.29.17";
    private const string AuthorityInformationAccess = "1.3.6.1.5.5.7.1.1";
    private const string AuthorityKeyIdentifier = "2.5.29.35";
    private const string BasicConstraints = "2.5.29.19";
    private const string CertificatePolicies = "2.5.29.32";
    private const string CRLDistributionPoints = "2.5.29.31";
    private const string EnhancedKeyUsage = "2.5.29.37";
    private const string FreshestCRL = "2.5.29.46";
    private const string KeyUsage = "2.5.29.15";
    private const string MSApplicationPolicies = "1.3.6.1.4.1.311.21.10";
    private const string NameConstraints = "2.5.29.30";
    private const string PolicyConstraints = "2.5.29.36";
    private const string PolicyMappings = "2.5.29.33";
    private const string PrivateKeyUsagePeriod = "2.5.29.16";
    private const string SMimeCapabilities = "1.2.840.113549.1.9.15";
    private const string SubjectDirectoryAttributes = "2.5.29.9";
    private const string SubjectKeyIdentifier = "2.5.29.14";
    private const string Template = "1.3.6.1.4.1.311.21.7";
    private const string TemplateName = "1.3.6.1.4.1.311.20.2";

    public string CurrentRequestData { get; set; } = string.Empty;
    public string output { get; set; } = string.Empty;

    //https://learn.microsoft.com/en-us/archive/blogs/alejacma/how-to-modify-an-interop-assembly-to-change-the-return-type-of-a-method-vb-net
    [DllImport(@"oleaut32.dll", SetLastError = true, CallingConvention = CallingConvention.StdCall)]
    static extern Int32 VariantClear(IntPtr pvarg);
    private object GetProperty(ref CCertServerExit server, string name, string propertytype, string returntype)
    {
        IntPtr variantObjectPtr = Marshal.AllocHGlobal(2048);

        try
        {
            switch (returntype)
            {

                case "date":
                    if (propertytype == "certificate")
                    {
                        //https://learn.microsoft.com/en-us/windows/win32/api/certif/nf-certif-icertserverexit-getcertificateproperty
                        server.GetCertificateProperty(name, (int)PropertyType.PROPTYPE_DATE, variantObjectPtr);
                    }
                    else if (propertytype == "request")
                    {
                        //https://docs.microsoft.com/de-de/windows/win32/api/certif/nf-certif-icertserverexit-getrequestproperty
                        server.GetRequestProperty(name, (int)PropertyType.PROPTYPE_DATE, variantObjectPtr);
                    }

                    var dateresult = (DateTime)(Marshal.GetObjectForNativeVariant(variantObjectPtr));
                    return dateresult;
                case "int":
                    if (propertytype == "certificate")
                    {
                        server.GetCertificateProperty(name, (int)PropertyType.PROPTYPE_LONG, variantObjectPtr);
                    }
                    else if (propertytype == "request")
                    {
                        server.GetRequestProperty(name, (int)PropertyType.PROPTYPE_LONG, variantObjectPtr);
                    }

                    var intresult = (int)(Marshal.GetObjectForNativeVariant(variantObjectPtr));
                    return intresult;
                case "string":
                    if (propertytype == "certificate")
                    {
                        server.GetCertificateProperty(name, (int)PropertyType.PROPTYPE_STRING, variantObjectPtr);
                    }
                    else if (propertytype == "request")
                    {
                        server.GetRequestProperty(name, (int)PropertyType.PROPTYPE_STRING, variantObjectPtr);
                    }

                    var stringresult = (string)(Marshal.GetObjectForNativeVariant(variantObjectPtr));
                    return stringresult;
                default:
                    IntPtr bstrPtr;
                    int bstrLen;

                    if (propertytype == "certificate")
                    {
                        server.GetCertificateProperty(name, (int)PropertyType.PROPTYPE_BINARY, variantObjectPtr);
                    }
                    else if (propertytype == "request")
                    {
                        server.GetRequestProperty(name, (int)PropertyType.PROPTYPE_BINARY, variantObjectPtr);
                    }

                    bstrPtr = Marshal.ReadIntPtr(variantObjectPtr, 8);
                    bstrLen = Marshal.ReadInt32(bstrPtr, -4);
                    byte[] bytearrresult = new byte[bstrLen];
                    Marshal.Copy(bstrPtr, bytearrresult, 0, bstrLen);
                    return bytearrresult;
            }
        }
        catch (Exception e)
        {
            switch (returntype)
            {
                case "date":
                    return new DateTime();
                default:
                    return null;
            }
        }
        finally
        {
            VariantClear(variantObjectPtr);
            Marshal.FreeHGlobal(variantObjectPtr);
        }
    }

    public void ParseRequestExtension(IX509CertificateRequestPkcs10 cX509CertificateRequestPkcs10)
    {
        var extensionAlternativeNames = new CX509ExtensionAlternativeNames();
        var extensionBasicConstraints = new CX509ExtensionBasicConstraints();
        var extensionTemplate = new CX509ExtensionTemplate();
        var extensionEnhancedKeyUsage = new CX509ExtensionEnhancedKeyUsage();
        var extensionKeyUsage = new CX509ExtensionKeyUsage();
        var extensionMSApplicationPolicies = new CX509ExtensionMSApplicationPolicies();
        var extensionSubjectKeyIdentifier = new CX509ExtensionSubjectKeyIdentifier();
        CurrentRequestData += "Subject:" + Environment.NewLine;
        CurrentRequestData += " " + cX509CertificateRequestPkcs10.Subject.Name + Environment.NewLine;

        for (var i = 0; i < cX509CertificateRequestPkcs10.X509Extensions.Count; i++)
        {
            switch (cX509CertificateRequestPkcs10.X509Extensions[i].ObjectId.Value)
            {
                case AlternativeNames:
                    try
                    {
                        string sAlternativeNames = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionAlternativeNames.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sAlternativeNames);
                        CurrentRequestData += "SubjectAlternateNames:" + Environment.NewLine;
                        foreach (CAlternativeName san in extensionAlternativeNames.AlternativeNames)
                        {
                            CurrentRequestData += " " + san.Type + "=" + san.strValue + Environment.NewLine;
                        }

                    }
                    catch
                    {
                        CurrentRequestData = null;
                    }


                    break;
                case KeyUsage:
                    try
                    {
                        CurrentRequestData += "KeyUsages:" + Environment.NewLine;
                        string sKeyUsage = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionKeyUsage.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sKeyUsage);

                        CurrentRequestData += " " + extensionKeyUsage.KeyUsage.ToString() + Environment.NewLine;
                    }
                    catch
                    {

                    }

                    break;

                case EnhancedKeyUsage:
                    try
                    {
                        CurrentRequestData += "EnhancedKeyUsages:" + Environment.NewLine;
                        string sEnhancedKeyUsage = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionEnhancedKeyUsage.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sEnhancedKeyUsage);
                        foreach (CObjectId objectid in extensionEnhancedKeyUsage.EnhancedKeyUsage)
                        {
                            CurrentRequestData += " " + objectid.Name + "=" + objectid.Value + Environment.NewLine;
                        }
                    }
                    catch
                    {

                    }

                    break;

                case MSApplicationPolicies:
                    try
                    {

                        string sMSApplicationPolicies = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionMSApplicationPolicies.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sMSApplicationPolicies);
                        foreach (CCertificatePolicy certificatepolicy in extensionMSApplicationPolicies.Policies)
                        {

                        }
                    }
                    catch
                    {

                    }

                    break;

                case Template:
                    try
                    {
                        CurrentRequestData += "Template:" + Environment.NewLine;
                        string sTemplate = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionTemplate.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sTemplate);

                        CurrentRequestData += " " + extensionTemplate.TemplateOid.Value + Environment.NewLine;

                    }
                    catch
                    {

                    }
                    break;
                case SubjectKeyIdentifier:
                    try
                    {

                        string sSubjectKeyIdentifier = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                        extensionSubjectKeyIdentifier.InitializeDecode(EncodingType.XCN_CRYPT_STRING_BASE64, sSubjectKeyIdentifier);
                        CObjectId oid = extensionSubjectKeyIdentifier.ObjectId;

                    }
                    catch
                    {

                    }
                    break;
                default:
                    try
                    {

                        string ssdef = (cX509CertificateRequestPkcs10.X509Extensions[i].RawData[CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64]);

                    }
                    catch
                    {

                    }

                    break;

            }
        }
    }

    public void HandleSubmit(EditContext editContext)
    {
        var newCertificate = (Entry)editContext.Model;

        if (selectedAction == 1)
        {
            var cX509CertificateRequestCmc = new CERTENROLLLib.CX509CertificateRequestCmc();
            try
            {
                cX509CertificateRequestCmc.InitializeDecode(
                    newCertificate.Base64Request,
                    CERTENROLLLib.EncodingType.XCN_CRYPT_STRING_BASE64_ANY);
                var cX509CertificateRequestPkcs10 = (IX509CertificateRequestPkcs10)cX509CertificateRequestCmc.GetInnerRequest(0);
                _btnhidden = false;
                ParseRequestExtension(cX509CertificateRequestPkcs10);

            }
            catch
            {
                CurrentRequestData = null;
            }


        }
        else if (selectedAction == 2)
        {
            CCertRequest cCertRequest = new CCertRequestClass();
            int iDisposition;
            

            iDisposition = cCertRequest.Submit(
                    CR_IN_BASE64 | CR_IN_ANY,
                    newCertificate.Base64Request,
                    null,
                    CAConfiguration
                );

            switch (iDisposition)
            {
                case CR_DISP_ISSUED:
                    output = cCertRequest.GetCertificate(CR_OUT_BASE64);
                    break;
                case CR_DISP_PENDING:
                    output = cCertRequest.GetDispositionMessage();
                    break;
                default:
                    break;

            }
        }
        
    }
}
