@page "/certificates"
@using CertificateManager.Services
@using CertificateManager.Models
@inject CertificateService certificateService;

<PageTitle>Import Certificate Entries</PageTitle>

<h3>Import certificate database entry</h3>


<EditForm Model="@entry" OnSubmit="HandleSubmit">
    <label for="RequestIdInput">RequestId</label>
    <InputNumber id="RequestIdInput" @bind-Value="@entry.RequestId"></InputNumber>
    <label for="CAConfigInput">CAConfig</label>
    <InputText id="CAConfigInput" @bind-Value="@entry.CAConfig" readonly="readonly"></InputText>
    <label for="SerialNumberInput">SerialNumber</label>
    <InputText id="SerialNumberInput" @bind-Value="@entry.SerialNumber" readonly="readonly"></InputText>
    <label for="Base64CertificateInput">Base64Certificate</label>
    <InputText id="Base64CertificateInput" @bind-Value="@entry.Base64Certificate"></InputText>
    <label for="Base64RequestInput">Base64Request</label>
    <InputText id="Base64RequestInput" @bind-Value="@entry.Base64Request"></InputText>
    <label for="OwnerInput">Owner</label>
    <InputText id="OwnerInput" @bind-Value="@entry.Owner"></InputText>
    <label for="NotesInput">Notes</label>
    <InputText id="NotesInput" @bind-Value="@entry.Notes"></InputText>
    <button type="submit" class="btn-primary">Import</button>
</EditForm>

@code {
    Entry entry = new Entry();

    public void HandleSubmit(EditContext editContext)
    {
        var newCertificate = (Entry)editContext.Model;
        newCertificate.RequestId += 100000000;
        certificateService.AddCertificateEntry(newCertificate);
    }
}