@page
@model Certificate_Management.Pages.Certificates.IndexModel
@{
}

<br>
<h2>List of Certificates</h2>

<form method="POST">
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">CAConfig</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CAConfig" value="@Model.filterinfo.CAConfig">
        </div>
    </div>
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">Subject</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Subject" value="@Model.filterinfo.RequestCommonName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="row-sm-3 col-form-label">RequestID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="RequestID" value="@Model.filterinfo.RequestID">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Filter Certificates</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>RequestID</th>
            <th>CAConfig</th>
            <th>RequestCommonName</th>
            <th>RequestInfo</th>
            <th>RequesterName</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Owner</th>
            <th>Notes</th>
            <th>SANList</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listCertificates)
        {
            <tr>
                <td>@item.RequestID</td>
                <td>@item.CAConfig</td>
                <td>@item.RequestCommonName</td>
                <td>@item.RequestEmailAddress <br>@item.RequestOrganizationUnit<br>@item.RequestOrganization<br>@item.RequestCity<br>@item.RequestCountryRegion</td>
                <td>@item.RequesterName</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Owner</td>
                <td>@item.Notes</td>
                <td>@item.SANList</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Certificates/Update?id=@item.RequestID">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>